.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.activities__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.activities__item {
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    position: relative;
    width: calc((100% - 60px) / 3);
  }
}

.activities__cover-text {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
}
