.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-icons {
  margin-left: 70px;
  padding-top: 8px;
}

.webstudio-footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #0f99fe;
  }
}

.webstudio-soc-icon {
  fill: #ffffff;
}
