.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  & .container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  column-gap: 50px;
}

.connect {
  margin-left: auto;
}

.connect__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
  &.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    position: absolute;
    bottom: -32px;
    left: 0;
    border-radius: 2px;
  }
}

.connect__email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 10px;
  display: flex;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.connect__envelope {
  margin-right: 10px;
  fill: currentColor;
}

.connect__smartphone {
  margin-left: 50px;
  margin-right: 10px;
  fill: currentColor;
}

.connect__tel {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 10px;
  display: flex;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
