.clients__main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.clients__link {
  border: 1px solid #a2a4ab;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: #2196f3;
  }
}

.clients__icon {
  fill: #a2a4ab;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: #2196f3;
  }
}
