.portfolio-filter {
  margin-bottom: 50px;
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.portfolio-filter-button {
  font-family: inherit;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  &:hover,
  &:focus {
    box-shadow: 0px 2px 2px rgb(198, 198, 198), 0px 4px 4px rgb(198, 198, 198),
      0px 2px 2px rgb(198, 198, 198);
  }
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(54, 161, 243, 0.829);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  .portfolio-item:hover & {
    transform: translateY(0%);
  }
}

.portfolio-text {
  width: 370px;
  height: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
